.border-top {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0px;
    border-top: 30px solid #2c3e50;
}
body {
  margin: 0;
  height: 100%;
}

.logo {
   width: 60%;
   height: auto;
   margin-left: 28%;
   margin-right: 20px;
}

header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
	position: relative;
    z-index: 1;
	margin-top: 5px;
}
   

html {
  height: 100%;
  background-color: white;
  background-size: 1000%;
  background-repeat: no-repeat;
 
}

h3{
	text-align: center;
	font-size: 24px;
	font-family: 'Creepster', cursive;
	color:black;
}
 


.titulo2 {
	font-family: 'Creepster', cursive;
    color: black;
	font-size: 24px;
	margin-top: 70%;
    text-align: center;
    margin-bottom: 20px; /* Ajuste conforme necessÃ¡rio para o espaÃ§amento inferior */
    clear: both; /* Limpa as floats para garantir que o contÃªiner englobe os elementos flutuantes acima */
}

.titulo3 {
	font-family: 'Creepster', cursive;
    color: black;
	font-size: 24px;
	margin-top: 40%;
    text-align: center;
    margin-bottom: 20px; /* Ajuste conforme necessÃ¡rio para o espaÃ§amento inferior */
    clear: both; /* Limpa as floats para garantir que o contÃªiner englobe os elementos flutuantes acima */
}


.navbar {
    list-style-type: none;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 0;
	margin-right: auto;
}

.navbar li {
    margin-right: 15px;
 }
 .navbar li:first-child {
     margin-left: auto;
}
.botao {
    display: inline;
    padding: 10px 25px;
    background-color: #FFFFFF;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
	
 }
.botao:hover {
    background-color: #b6141b;
	 color: white;
 }
.botao2{
	display: inline;
	margin-right: none;
	margin-left: none;
} 
 
  .botao1 {
    display: inline;
    padding: 10px 25px;
    background-color: #b6141b;
	 color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .botao1:hover {
    background-color: #FFFFFF;
	color: black;
 }
 
 .carousel {
    position: relative;
    width: 1000px; 
    overflow: hidden;
	align-items: center;
    justify-content: center;
	margin-left: 20px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
    margin-top: 35px;
}

input[type="radio"] {
    display: none;
}

.navigation {
    display: flex;
	justify-content: center;
}
.navigation label {
    position: absolute;
    top: 50%;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.prev {
    margin-left: 10px;
}

.next {
    margin-right: 10px;
}


#slide1:checked ~ .slides {
    transform: translateX(0);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}
#slide1:checked ~ .navigation label[for="slide1"],
#slide2:checked ~ .navigation label[for="slide2"],
#slide3:checked ~ .navigation label[for="slide3"] {
    background: #e51b23;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.slides {
	display: flex;
    animation: carousel-animation 15s infinite;
}

.slide {
    flex: 0 0 100%;
}

@keyframes carousel-animation {
0%, 100% {
 transform: translateX(0);
            }
            25% {
                transform: translateX(0);
            }
            30%, 55% {
                transform: translateX(-100%);
            }
            60%, 85% {
                transform: translateX(-200%);
            }
        }
        
        .slide img {
            width: 100%;
            height: auto;
        }

 

 
 .Â§1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	color: black;
	padding-left: 300px;
	padding-right: 250px;
	margin-bottom: 70px;
	text-justify: auto;
    text-align: center;
    font-size: 150%;
}

.contquadrado{
	display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin: 0 auto;
}

.quadrado {
	background-color: #fcfcfc;
    width: 300px;
    height: 325px;
    padding: 20px;
    text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 70px;
	margin-left: 50px;
    margin-bottom: 15px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	float: left;
	transition: transform 0.2s;
    
}

.quadrado:hover {
    transform: scale(1.2); 
}

.quadrado img {
    max-width: 100%;
    max-height: 100%;
}

.arte{
    font-family: 'Port Lligat Sans', sans-serif;
	text-align: justify;
}
.lugares{
	font-family: 'Port Lligat Sans', sans-serif;
	text-align: justify;
	font-size: 18px;
} 

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
}




    #scroll-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      font-size: 24px;
      cursor: pointer;
      display: none;
      color: #000000;
      border: none;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      line-height: 1.0;
    }
	
	
    #scroll-to-top img {
      width: 40px; 
	  margin-bottom: 0;
	  margin-right: 0px;
    }

    #scroll-to-top span {
    display: block;
    font-size: 14px;
	writing-mode: vertical-lr;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	margin-left: 13px;
    }